<div class="row ">
    <div class="col-lg-12">
        <h1 style="float:left">Instagram & Twitter timeline</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>Selecteer een maand:</h4>
        <select ng-model="selectedMonth" ng-change="updatedMonth()">
            <option ng-repeat="x in months">{{x}}</option>
        </select>
    </div>
    <div class="col-md-6" ng-if="instagramLikesData != null">
        <div class="panel panel-default">
            <div class="panel-heading">
                Instagram likes
            </div>
            <div class="panel-body">
                <canvas id="line" class="chart chart-line"
                        chart-data="instagramLikesData" chart-labels="instagramLikesLabels" chart-options="options" chart-colors="colors"></canvas>
            </div>
        </div>
    </div>

    <div class="col-md-6" ng-if="twitterLikesData != null">
        <div class="panel panel-default">
            <div class="panel-heading">
                Twitter likes
            </div>
            <div class="panel-body">
                <canvas id="line" class="chart chart-line"
                        chart-data="twitterLikesData" chart-labels="twitterLikesLabels" chart-options="options" chart-colors="colors"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6" ng-if="instagramCommentData != null">
        <div class="panel panel-default">
            <div class="panel-heading">
                Instagram comments
            </div>
            <div class="panel-body">
                <canvas id="line" class="chart chart-line"
                        chart-data="instagramCommentData" chart-labels="instagramCommentLabels" chart-options="options" chart-colors="colors"></canvas>
            </div>
        </div>
    </div>

    <div class="col-md-6" ng-if="twitterCommentData != null">
        <div class="panel panel-default">
            <div class="panel-heading">
                Twitter comments
            </div>
            <div class="panel-body">
                <canvas id="line" class="chart chart-line"
                        chart-data="twitterCommentData" chart-labels="twitterCommentLabels" chart-options="options" chart-colors="colors"></canvas>
            </div>
        </div>
    </div>
</div>
